<div class="bottom-bar">

    <a href="index.html" class="nav-item">
        <i class="ri-home-4-line"></i>
        <span>Home</span>
    </a>

    <div class="share-container">
        <button class="share-btn" id="shareToggle">
            <i class="fa-regular fa-share-from-square"></i>
            <span>Share</span>
        </button>

        <div class="share-menu" id="shareMenu">
            <a href="#" id="waShare"><i class="ri-whatsapp-line"></i></a>
            <a href="#" id="fbShare"><i class="ri-facebook-fill"></i></a>
            <a href="#" id="copyLink"><i class="ri-link"></i></a>
        </div>
    </div>

    <a href="store.html" class="nav-item">
        <i class="ri-store-2-line"></i>
        <span>Store</span>
    </a>

    <a href="about.html" class="nav-item">
        <i class="ri-user-3-line"></i>
        <span>About</span>
    </a>

</div>